.breadcrumbs {
  align-items: center;
  display: flex;
  &__item {
    display: flex;
    font-size: 15px;
    line-height: 16px;
  }
  &__link {
    color: $red-color;
    margin: 0 10px 0 0;
    padding-right: 20px;
    position: relative;
    transition: all ease-out .15s;
    &::after {
      content: '»';
      color: $black;
      position: absolute;
      right: 0;
      text-decoration: none;
    }
    &:hover {
      opacity: .7;
    }
  }
}
