header.header
	include ../nav/sidebar
	.header__top.header-top
		.container.gx-110.d-flex.justify-content-between.align-items-center
			include ../nav/main-nav
			.header__user-controls.user-controls
				a.user-controls__link.user-controls__link--search(href="#")
					span.visually-hidden Кнопка поиска
					+icon('icon-search', 'user-controls__icon', '30', '30')
				a.user-controls__link.user-controls__link--user(href="https://cabinet.e-logs.ru/" target="_blank")
					span.visually-hidden Личный кабинет
					+icon('icon-user', 'user-controls__icon', '30', '30')
	.header__placeholder
	.header__main.header-main
		.container.gx-110
			.header-main__content.row
				.header-main__left
					a.header-main__logo.me-40(href="#")
						img.header-main__logo-image(src="static/images/common/logo-desktop.png", alt="Логитип фирмы E-logistic" width="262" height="60")
					.header-main__phones
						.header-main__phone.me-57
							span.header-main__city Санкт-Петербург
							a.header-main__tel(href="tel:+78126448668") +7 (812) 644-86-68
								+icon('icon-phone', 'header-main__icon--phone', '21', '21')
						.header-main__phone
							span.header-main__city Москва
							a.header-main__tel(href="tel:+74951318668") +7 (495) 131-86-68
								+icon('icon-phone', 'header-main__icon--phone', '21', '21')
				.header-main__contact
					a.header-main__button.button.button--white(href="#") Заказать звонок
					a.header-main__button.button.button--white(href="#") Обратная связь
			include ../breadcrumbs/breadcrumbs


