section.cash-service
	.container.gx-20.gx-md-30.gx-lg-110
		.row.gx-40
			.col-12.col-lg-6
				p.cash-service__text.section__text.mb-30 Предлагаем кассовое обслуживание для вашего интернет-магазина. Вам не нужно думать о покупке или аренде, регистрации собственного кассового аппарата, изучать юридические и налоговые нюансы. Вы просто отправляете посылку, а чек клиенту пробиваем мы, на основании агентского договора, который мы с вами заключаем. Вы получаете экономию времени и денег, а также моральное удовлетворение от выполнения обязательств перед клиентом и государством.
				h4.cash-service__headline.section__headline.mb-30 Алгоритм работы прост:
				ul.cash-service__list.list-number.pb-30
					li.list-number__item
						p.list-number__desc Магазин передает заявки удобным для него способом: Личный кабинет либо API
					li.list-number__item
						p.list-number__desc Курьер забирает заказы либо в магазине либо у поставщика
					li.list-number__item
						p.list-number__desc Курьер доставляет заказ и принимает оплату в соответствии с 54 ФЗ
					li.list-number__item
						p.list-number__desc Формируется отчет магазину
					li.list-number__item
						p.list-number__desc Наложенный платеж перечисляется магазину после подтверждения отчета
				p.cash-service__text.section__text.mb-30 Кассовое обслуживание  + прием наложенного платежа - 1,5% от суммы заказа, это значительно выгоднее,чем содержать свой кассовый аппарат, производить контроль пробития чеков, делать возвраты - все это мы берем на себя.
				p.cash-service__text.section__text.mb-30 Ваши клиенты также могут расплачиваться пластиковыми картами в Санкт-Петербурге, комиссия составит 3% от стоимости заказа.
			.col-12.col-lg-6
				h4.cash-service__headline.section__headline.mb-30 Сервис нового уровня с наименьшими издержками для вас
				p.cash-service__text.section__text.mb-30 Затратная часть бизнеса интернет-магазина - это собственная служба доставки, документооборот и содержание кассового аппарата - все это съедает дополнительные ресурсы. Сотрудничество с компанией «Е-Логистик» значительно снижает эти издержки.
				p.cash-service__text.section__text.mb-30 Кассовое обслуживание, которое мы предоставляем, обеспечивает выполнение требований статьи 2 №54-ФЗ от 22.05.2003 года. Сотрудничество с нами дает нескольким ощутимых выгод, таких как:
				ul.cost-delivery__list.list-round.pb-30
					li.list-round__item
						p.list-round__feautures полное соответствие законодательству РФ;
					li.list-round__item
						p.list-round__feautures укрепление имиджа солидной компании, заботящейся о своих клиентах;
					li.list-round__item
						p.list-round__feautures оптимизация процессов, связанных с возвратом и обменом продукции, гарантией на неё, бухгалтерской отчетностью;
					li.list-round__item
						p.list-round__feautures экономия времени собственного персонала, высвобождение трудовых ресурсов для более важных производственных задач;
					li.list-round__item
						p.list-round__feautures сокращение материальных издержек благодаря делегированию части функций проверенной команде профессионалов.
				p.cash-service__text.section__text.mb-30 Аутсорcинг кассового обслуживания позволит не тратить деньги на приобретение и регистрацию кассового аппарата. Особенно это важно для стартапа, где так важно использовать ресурсы предельно эффективно.
				p.cash-service__text.section__text Чтобы получить персональную консультацию по кассовому обслуживанию, свяжитесь с нашими менеджерами по телефонам: #[a(href="tel:+78122008668") +7 (812) 200-86-68], #[a(href="tel:+74951318668") +7 (495) 131-86-68]
