section.partners
	.container.gx-20.gx-md-30.gx-lg-110
		h2.partners__title Наши партнеры
		ul.partners__list.row.g-20.g-md-40
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-trives-desktop@1x.png 1x, static/images/content/partners-trives-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-trives-mobile@1x.png" srcset="static/images/content/partners-trives-mobile@2x.png 2x" alt="Картинка партнера Тривис" width="120" height="120")
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-gloryes-desktop@1x.png 1x, static/images/content/partners-gloryes-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-gloryes-mobile@1x.png" srcset="static/images/content/partners-gloryes-mobile@2x.png 2x" alt="Картинка партнера gloryes" width="120" height="120")
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-mirsveta-desktop@1x.png 1x, static/images/content/partners-mirsveta-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-mirsveta-mobile@1x.png" srcset="static/images/content/partners-mirsveta-mobile@2x.png 2x" alt="Картинка партнера mirsveta" width="120" height="120")
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-domovoy-desktop@1x.png 1x, static/images/content/partners-domovoy-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-domovoy-mobile@1x.png" srcset="static/images/content/partners-domovoy-mobile@2x.png 2x" alt="Картинка партнера domovoy" width="120" height="120")
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-zero-desktop@1x.png 1x, static/images/content/partners-zero-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-zero-mobile@1x.png" srcset="static/images/content/partners-zero-mobile@2x.png 2x" alt="Картинка партнера zero" width="120" height="120")
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-hobby-desktop@1x.png 1x, static/images/content/partners-hobby-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-hobby-mobile@1x.png" srcset="static/images/content/partners-hobby-mobile@2x.png 2x" alt="Картинка партнера hobby" width="120" height="120")
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-lemur-desktop@1x.png 1x, static/images/content/partners-lemur-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-lemur-mobile@1x.png" srcset="static/images/content/partners-lemur-mobile@2x.png 2x" alt="Картинка партнера lemur" width="120" height="120")
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-alligator-desktop@1x.png 1x, static/images/content/partners-alligator-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-alligator-mobile@1x.png" srcset="static/images/content/partners-alligator-mobile@2x.png 2x" alt="Картинка партнера alligator" width="120" height="120")
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-videoglaz-desktop@1x.png 1x, static/images/content/partners-videoglaz-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-videoglaz-mobile@1x.png" srcset="static/images/content/partners-videoglaz-mobile@2x.png 2x" alt="Картинка партнера videoglaz" width="120" height="120")
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-karat-desktop@1x.png 1x, static/images/content/partners-karat-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-karat-mobile@1x.png" srcset="static/images/content/partners-karat-mobile@2x.png 2x" alt="Картинка партнера karat" width="120" height="120")
			li.partners__item.col-6.col-md-4.col-lg-3
				.partners__inner
					picture.partners__picture
						source(media="(min-width: 768px)" srcset="static/images/content/partners-firstbit-desktop@1x.png 1x, static/images/content/partners-firstbit-desktop@2x.png 2x")
						img.partners__img(src="static/images/content/partners-firstbit-mobile@1x.png" srcset="static/images/content/partners-firstbit-mobile@2x.png 2x" alt="Картинка партнера firstbit" width="120" height="120")
