section.fulfillment-service
	.container.gx-20.gx-md-30.gx-lg-110
		.row.gy-20.gy-md-40.gx-lg-40.mb-40.mb-md-60.mb-lg-100
			.col-12.col-lg-6
				h2.fulfillment-service__title Перечень услуг в рамках сервиса “Фулфилмент”
			.col-12.col-lg-6
				.fulfillment-service__text Любые объемы, любое количество позиций - наш опыт позволит не только сэкономить ваши деньги, но улучшить логистику и качество сервиса. Вам останется только заниматься продажами и маркетингом, остальное берем на себя.
		.row.gy-20.g-md-40
			.col-md-6.col-lg-3.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					h4.fulfillment-service__name Ответственное хранение товаров
					p.fulfillment-service__desc Мы несем полную ответственность за ваш товар.
			.col-md-6.col-lg-3.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					h4.fulfillment-service__name Складской учет
					p.fulfillment-service__desc В каждый момент времени вы четко знаете какое количество товара находится на складе.
			.col-md-6.col-lg-3.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					h4.fulfillment-service__name Оплата фактического метража, занимаемого товаром
					p.fulfillment-service__desc Это значительно дешевле оплаты собственного склада.
			.col-md-6.col-lg-3.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					h4.fulfillment-service__name Работа с поставщиками
					p.fulfillment-service__desc Мы готовы самостоятельно забирать товары на реализацию или возвращать непроданные товары на склады поставщиков.
			.col-md-6.col-lg-3.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					h4.fulfillment-service__name Маркировка товара
					p.fulfillment-service__desc Весь товар, поступающий на наш склад, немедленно заносится в складскую базу, артикулируется и штрихкодируется. В личном-кабинете в любое время вы можете проверить остатки.
			.col-md-6.col-lg-3.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					h4.fulfillment-service__name Комплектация заказов
					p.fulfillment-service__desc Наши сотрудники бережно упакуют и укомплектуют заказы вашего интернет-магазина, при необходимости вложат рекламные материалы, а если товар хрупкий обеспечат его дополнительной жесткой упаковкой.
			.col-md-6.col-lg-3.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					h4.fulfillment-service__name Упаковка заказов в соответствии с вашей спецификой
					p.fulfillment-service__desc Мы подберем и предоставим упаковочные материалы, которые соответствуют вашей специфике товаров
			.col-md-6.col-lg-3.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					h4.fulfillment-service__name Доставка товара клиентам
					p.fulfillment-service__desc Вы просто оформляете заказ и больше не думаете ни про поиск курьера, согласование времени с клиентом, подтверждение доставки.
	img.about-statistics__bottom-bg(src="static/images/common/about-stat-bg-desktop.png" width="1920" height="313" alt="Фоновое изображение Питера")
