section.fulfillment-explanation
	.container.gx-20.gx-md-30.gx-lg-110
		.row.gx-lg-40.gy-20
			.col-12.col-md-6
				p.fulfillment-explanation__text.section__text.mb-20 Фулфилмент - это сервис для интернет-магазинов, включающий в себя комплексную обработку заказов: хранение, комплектацию, упаковку, доставку. Он охватывает весь комплекс услуг с момента размещения заявки, до получения товара покупателем. Мы оказываем складские услуги по хранению вашего товара, своевременно и недорого доставляем товары вашим покупателям, осуществляем возврат документов и производим #[a(href="#") кассовое обслуживание]. В случае отказа от товара покупателем, наши курьеры оперативно произведут возврат.
				p.fulfillment-explanation__text.section__text Фулфилмент - это идеальное решение для экономии затрат на хранение и перевозку продукции. Зачастую, при снижении объемов продаж или сезонном спаде вам уже не нужен большой склад и бригада кладовщиков, однако, найти небольшой склад - это серьезная проблема.
			.col-12.col-md-6
				p.fulfillment-explanation__text.section__text.mb-20 Они занимаются арендаторами еще до освобождения. При размещении товаров на ответственное хранение вы платите только за фактическую занимаемую площадь, кроме того, все манипуляции с товаром производит персонал арендодателя, что позволяет вам сэкономить на заработной плате сотрудников. Наши склады находятся в удобном месте, с точки зрения логистики, что также экономит средства на доставке товаров клиентам.
				p.fulfillment-explanation__text.section__text С более подробной информацией Вы можете ознакомиться, изучив наш Агентский договор, расположенный во вкладке «Клиентам» подвкладке #[a(href="#") «Документы»].
