section.news-post
	.container.gx-20.gx-md-30.gx-lg-110
		ul.news-post__list
			li.news-post__item
				span.news-post__date 28.07.2021
				h5.news-post__title Рост спроса на доставку
				p.news-post__text Более 55 млн – такое количество заказов сделали покупатели на условиях срочной доставки в начале 2021 года.
				a.news-post__link.stretched-link(href="#")
					span.news-post__link-text Перейти к новости
					+icon('icon-arrow-right', 'news-post__icon', '16', '16')
