.payment-method {
  padding: 100px 0;
  &__list {
    align-items: center;
    display: flex;
    margin: 0 -20px 80px;
  }
  &__item {
    display: flex;
    min-height: 262px;
    padding: 0 20px;
    width: 33.333%;
  }
  &__inner {
    align-items: center;
    background-color: $background-light-gray-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 10px 60px;
    width: 100%;
  }
  &__name {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin: 40px 0 0 0;
    text-align: center;
  }
  &__systems {
    display: flex;
    flex-direction: column;
    padding-left: 120px;
  }
}
