.feedback {
  background-color: $background-light-gray-color;
  padding: 100px 0;
  &__inner {
    background: url("../images/common/reviews-bg.svg") no-repeat right center;
    background-size: auto 89%;
  }
}

.feedback-form {
  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(95, 85, 155, .1);
  padding: 40px;
  &__agree {
    font-size: 15px;
    line-height: 22px;
    a {
      color: $red-color;
      transition: all ease-out .2s;
      &:hover {
        opacity: .7;
      }
    }
  }
  &__button {
    font-size: 15px;
    line-height: 20px;
  }
}
