@import './feedback';

.reviews-slider {
  overflow: inherit;
  padding: 100px 0 80px;
  @media screen and (max-width: $tablet-size) {
    padding: 40px 0 60px;
  }
  &__item {
    max-width: 31.479%;
    @media screen and (max-width: $tablet-size) {
      max-width: unset;
    }
  }
  &__picture {
    box-shadow: 0 8px 40px rgba(0, 0, 0, .05);
    display: block;
  }
  &__img {
    height: auto;
    object-fit: contain;
    width: 100%;
  }
  &__button {
    align-items: center;
    background-color: $white;
    border: 2px solid $red-color;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 50px;
    left: -110px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease-out .2s;
    width: 50px;
    z-index: 10;
    @media screen and (max-width: 1850px) {
      left: 0;
    }
    @media screen and (max-width: $tablet-size) {
      display: none;
    }
    &--next {
      left: unset;
      right: -110px;
      @media screen and (max-width: 1850px) {
        right: 0;
      }
    }
    &:hover {
      opacity: .7;
    }
    &[aria-disabled="true"] {
      cursor: not-allowed;
      opacity: .5;
    }
  }
  &__icon-button {
    &--next {
      transform: rotate(180deg);
    }
  }
}

.reviews-pagination {
  display: none;
  @media screen and (max-width: $tablet-size) {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    margin: 30px 0 0 0;
  }
  &__bullet {
    background-color: $bullet-color;
    border-radius: 50%;
    height: 10px;
    transition: all ease-out .2s;
    width: 10px;
    &--active {
      background-color: $red-color;
      height: 20px;
      width: 20px;
    }
    &:not(:last-child) {
      margin: 0 30px 0 0;
    }
  }
}

.reviews {
  overflow: hidden;
  padding-bottom: 100px;
  @media screen and (max-width: $tablet-size) {
    padding-bottom: 60px;
  }
  @media screen and (max-width: $mobile-size) {
    padding-bottom: 40px;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    padding-top: 24px;
    position: relative;
    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }
  &__inner {
    background-color: $background-light-gray-color;
    border-radius: 10px;
    padding: 60px 40px 40px;
    @media screen and (max-width: $mobile-size) {
      padding: 40px 24px 30px;
    }
  }
  &__icon {
    left: 40px;
    position: absolute;
    top: 11px;
    @media screen and (max-width: $mobile-size) {
      height: 30px;
      width: 24px;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px 0;
    @media screen and (max-width: $mobile-size) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__info {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    @media screen and (max-width: $mobile-size) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__name {
    margin: 0 16px 0 0;
  }
  &__date {
    opacity: .5;
  }
}
