section.cost-delivery
	.container.gx-110
		.row.gx-40
			.col-6
				include delivery-form
			.col-6
				.cost-delivery__description
					p.cost-delivery__text.mb-20 Компания «E-Logistic» — надежный партнер интернет-магазинов Москвы, Санкт-Петербурга и других городов страны. Мы предлагаем выгодные тарифы на курьерскую доставку и гарантируем высокое качество услуг. Обратившись к нам, вы можете быть уверены в безопасности и быстрых сроках транспортировки. Мы работаем по принципу «от клика до двери», благодаря которому наши клиенты получают безупречный сервис и полный спектр курьерских услуг. Наша служба доступна 24 часа в сутки.
					p.cost-delivery__text.mb-30 Для удобства заказчиков мы разработали онлайн-калькулятор, который позволяет рассчитывать ориентировочную стоимость курьерской доставки. Чтобы расчитать стоимость доставки, достаточно ввести нужные данные в следующие поля:
					ul.cost-delivery__list.list-round.mb-30
						li.list-round__item
							p.list-round__feautures вариант доставки — до пункта выдачи или до двери получателя;
						li.list-round__item
							p.list-round__feautures маршрут перевозки — здесь необходимо указать пункт отправки и пункт назначения;
						li.list-round__item
							p.list-round__feautures вес груза;
						li.list-round__item
							p.list-round__feautures его габариты (длина, ширина и высота).
					p.cost-delivery__text В расчет стоимости доставки включена услуга страхования, а также услуга кассового обслуживания, если требуется оплата заказа. Нажав на кнопку «Рассчитать», вы получите приблизительную цену доставки курьерской службой. Следует учесть, что окончательный тариф может отличаться от расчетного. Это может быть связано с уточнением размеров, веса и других характеристик груза.
