section.search-result
	.container.gx-20.gx-md-30.gx-lg-110
		form.search-result__form
			.search-form__wrapper
				.search-form__input-box
					input.search-form__input.search-result__input(type="text" title="Введите ключевые слова для поиска" name="search-form" placeholder="Поиск по сайту")
					+icon('icon-search', 'search-form__icon', '21', '21')
				button.search-form__button.button(type="submit") Найти
		p.search-result__result-count Результат поиска: #[span 1-20] из #[span 53]
		ul.search-result__list
			li.search-result__item
				h2.search-result__title Рост спроса на #[span доставку]
				p.search-result__text Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантир...
				p.search-result__date Последнее изменение 28.07.2021
			li.search-result__item
				h2.search-result__title #[span Доставка] Спб-Москва
				p.search-result__text Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантир...
				p.search-result__date Последнее изменение 28.07.2021
			li.search-result__item
				h2.search-result__title Рост спроса на #[span доставку]
				p.search-result__text Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантир...
				p.search-result__date Последнее изменение 28.07.2021
			li.search-result__item
				h2.search-result__title #[span Доставка] Спб-Москва
				p.search-result__text Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантир...
				p.search-result__date Последнее изменение 28.07.2021
			li.search-result__item
				h2.search-result__title Рост спроса на #[span доставку]
				p.search-result__text Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантир...
				p.search-result__date Последнее изменение 28.07.2021
			li.search-result__item
				h2.search-result__title #[span Доставка] Спб-Москва
				p.search-result__text Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантир...
				p.search-result__date Последнее изменение 28.07.2021
			li.search-result__item
				h2.search-result__title Рост спроса на #[span доставку]
				p.search-result__text Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантир...
				p.search-result__date Последнее изменение 28.07.2021
			li.search-result__item
				h2.search-result__title #[span Доставка] Спб-Москва
				p.search-result__text Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантир...
				p.search-result__date Последнее изменение 28.07.2021
		ul.search-result__pagination.pagination
			li.pagination__item.pagination__item--arrow-prev
				a.pagination__count.stretched-link(href="#")
					+icon('icon-arrow-right', 'pagination__icon', '14', '13')
			li.pagination__item.pagination__item--active
				a.pagination__count.stretched-link 2
			li.pagination__item.d-none.d-md-flex
				a.pagination__count.stretched-link(href="#") 3
			li.pagination__item.pagination__item--dots
				a.pagination__count.stretched-link
					+icon('icon-dots', 'pagination__icon', '18', '4')
			li.pagination__item
				a.pagination__count.stretched-link(href="#") 10
			li.pagination__item.pagination__item--arrow
				a.pagination__count.stretched-link(href="#")
					+icon('icon-arrow-right', 'pagination__icon', '14', '13')
