section.about__advantages.about-advantages
	.container.gx-20.gx-md-30.gx-lg-110
		h2.about-advantages__title Наши преимущества
		.row.gx-20.gx-lg-40.gy-40.gy-lg-80.mb-60.mb-md-50.mb-lg-80
			.col-md-6.col-lg-3.d-flex.flex-column
				.about-advantages__icon-box
					+icon('icon-calendar', 'about-advantages__icon', '82', '82')
				span.about-advantages__icon-note Доставка заказов 7 дней в неделю по Санкт-Петербургу и Москве
			.col-md-6.col-lg-3.d-flex.flex-column
				.about-advantages__icon-box
					+icon('icon-sms-info', 'about-advantages__icon', '82', '82')
				span.about-advantages__icon-note SMS и E-mail информированиео статусе заказа
			.col-md-6.col-lg-3.d-flex.flex-column
				.about-advantages__icon-box
					+icon('icon-track', 'about-advantages__icon', '76', '76')
				span.about-advantages__icon-note Возможность отслеживания статусов заказов в режиме реального времени
			.col-md-6.col-lg-3.d-flex.flex-column
				.about-advantages__icon-box
					+icon('icon-pay-card', 'about-advantages__icon', '82', '82')
				span.about-advantages__icon-note Прием оплаты с помощью пластиковых карт в СПб, Москве и других регионах России
			.col-md-6.col-lg-3.d-flex.flex-column
				.about-advantages__icon-box
					+icon('icon-box', 'about-advantages__icon', '82', '82')
				span.about-advantages__icon-note Доставка крупногабаритных и тяжелых заказов и их подъем до получателя при необходимости
			.col-md-6.col-lg-3.d-flex.flex-column
				.about-advantages__icon-box
					+icon('icon-location-tracking', 'about-advantages__icon', '60', '60')
				span.about-advantages__icon-note Разветвленная региональная партнерская сеть по доставке заказов
			.col-md-6.col-lg-3.d-flex.flex-column
				.about-advantages__icon-box
					+icon('icon-pen-note', 'about-advantages__icon', '82', '82')
				span.about-advantages__icon-note Удобный личный кабинет: оформление заявок, отслеживание статусов заказов, распечатка накладных, актов, ярлыков
			.col-md-6.col-lg-3.d-flex.flex-column
				.about-advantages__icon-box
					+icon('icon-boxes', 'about-advantages__icon', '82', '82')
				span.about-advantages__icon-note Более 6000 партнерских пунктов выдачи и постоматов, выдача более чем в 1000 городах России
		h2.about-advantages__sub-title А также:
		.row.gx-md-30.gx-lg-40
			.col-md-6.mb-30.mb-md-0
				ul.about-advantages__list.list-checks
					li.list-checks__item
						+icon('icon-check', 'list-checks__icon', '27', '27')
						p.list-checks__text Кассовое обслуживание и прием наложенного платежа во всех городах присутствия
					li.list-checks__item
						+icon('icon-check', 'list-checks__icon', '27', '27')
						p.list-checks__text Интеграция с различными CMS-системами посредством API
					li.list-checks__item
						+icon('icon-check', 'list-checks__icon', '27', '27')
						p.list-checks__text Оперативный вывод денежных средств
					li.list-checks__item
						+icon('icon-check', 'list-checks__icon', '27', '27')
						p.list-checks__text Виджет с калькулятором доставки, встраиваемый на сайты партнеров
			.col-md-6
				ul.about-advantages__list.list-checks
					li.list-checks__item
						+icon('icon-check', 'list-checks__icon', '27', '27')
						p.list-checks__text Прием электронных платежей на сайте
					li.list-checks__item
						+icon('icon-check', 'list-checks__icon', '27', '27')
						p.list-checks__text Фулфилмент в СПб и Москве: ответственное хранение, комплектация, штрихкодирование, упаковка, артикулирование, отслеживание остатков в режиме реального времени
					li.list-checks__item
						+icon('icon-check', 'list-checks__icon', '27', '27')
						p.list-checks__text Доставка по принципу первой мили: получение (забор) товаров напрямую у поставщиков, либо со складов магазина с последующей комплектацией в заказы и доставкой на следующий день в Санкт-Петербурге и Москве.

