.delivery-russia-advantages {
  background-image: url('../images/common/delivery-russia-bg-desktop.png');
  background-position: 329px center;
  background-size: 1836px auto;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 100px 0;
  @media screen and (max-width: $tablet-size) {
    background-image: url('../images/common/delivery-russia-bg-desktop.png');
    background-position: 0 20%;
    background-size: 100% auto;
    padding: 60px 0;
  }
  @media screen and (max-width: $mobile-size) {
    background-image: url('../images/common/delivery-russia-bg-desktop.png');
    background-position: 15% 46%;
    background-size: auto 641px;
    padding: 50px 0;
  }
  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 65px;
    @media screen and (max-width: $mobile-size) {
      font-size: 25px;
      line-height: 35px;
    }
  }
  &__icon-box {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 82px;
    margin: 0 0 20px 0;
    width: 82px;
    @media screen and (max-width: $tablet-size) {
      height: 56px;
      width: 56px;
    }
    @media screen and (max-width: $mobile-size) {
      height: 48px;
      width: 48px;
    }
  }
  &__icon {
    @media screen and (max-width: $tablet-size) {
      height: 100%;
      width: 100%;
    }
  }
  &__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    @media screen and (max-width: $tablet-size) {
      font-size: 16px;
      line-height: 24px;
    }
    @media screen and (max-width: $mobile-size) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__slider {
    overflow: inherit;
  }
  &__list {
    align-items: flex-start;
    display: flex;
    margin: 0 -20px;
    @media screen and (max-width: $tablet-size) {
      margin: 0;
    }
  }
  &__item {
    display: flex;
    flex: 0 0 33.333%;
    padding: 0 20px;
    @media screen and (max-width: $tablet-size) {
      flex: 0 0 auto;
      padding: 0;
      width: auto;
    }
  }
  &__wrap {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(95, 85, 155, .1);
    padding: 40px;
    @media screen and (max-width: $tablet-size) {
      padding: 20px;
    }
    @media screen and (max-width: $mobile-size) {
      padding: 24px;
    }
  }
  &__img-box {
    align-items: center;
    display: flex;
    height: 80px;
    margin: 0 0 32px 0;
    width: 100%;
    @media screen and (max-width: $mobile-size) {
      height: 60px;
      margin: 0 0 24px 0;
    }
  }
  &__img-icon {
    @media screen and (max-width: $mobile-size) {
      height: 100%;
      object-fit: contain;
      width: auto;
    }
  }
  &__options {
    &:not(:last-child) {
      margin: 0 0 32px 0;
    }
  }
  &__option {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 24px 0;
    @media screen and (max-width: $mobile-size) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 28px;
    @media screen and (max-width: $mobile-size) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__link {
    color: $red-color;
    display: block;
    font-size: 16px;
    line-height: 28px;
    margin: 16px 0 0 0;
    transition: all ease-out .2s;
    &:hover {
      opacity: .7;
    }
    @media screen and (max-width: $mobile-size) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.delivery-russia-advantages-pagination {
  display: none;
  @media screen and (max-width: $tablet-size) {
    align-items: center;
    display: flex;
    height: 20px;
    justify-content: center;
    margin: 30px 0 0 0;
  }
  &__bullet {
    background-color: $bullet-color;
    border-radius: 50%;
    height: 10px;
    transition: all ease-out .2s;
    width: 10px;
    &--active {
      background-color: $red-color;
      height: 20px;
      width: 20px;
    }
    &:not(:last-child) {
      margin: 0 30px 0 0;
    }
  }
}
