.search-form
	.container.gx-20.gx-md-30.gx-lg-110
		form.search-form__form(action="#" method="get")
			.search-form__overlay
			input.search-form__input(type="text" title="Введите ключевые слова для поиска" name="search-form" placeholder="Поиск по сайту")
			button.search-form__button(type="submit")
				span.visually-hidden Отправить форму
				+icon('icon-search', 'search-form__icon', '30', '30')
