footer { flex: 0 0 auto; }

.footer {
  background-color: $background-light-gray-color;
  padding: 130px 0 135px;
  @media screen and (max-width: $tablet-size) {
    padding: 70px 0 135px;
  }
  @media screen and (max-width: $mobile-size) {
    padding: 30px 0 135px;
  }
  &__logo {
    display: flex;
    justify-content: center;
  }
  &__socials {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
    @media screen and (max-width: $tablet-size) {
      justify-content: center;
    }
    @media screen and (max-width: $mobile-size) {
      justify-content: space-between;
    }
  }
  &__social {
    color: $black;
    font-size: 15px;
    line-height: 21px;
    padding: 0 10px;
    text-decoration: underline;
    @media screen and (max-width: 1400px) {
      font-size: 14px;
    }
    @media screen and (max-width: $tablet-size) {
      font-size: 15px;
      text-decoration: none;
    }
  }
  &__icon-social {
    margin: 0 12px 0 0;
  }
  &__info {
    display: flex;
    flex-direction: column;
    padding-left: 31px;
  }
  &__name {
    color: $text-grey-color;
    font-size: 15px;
    line-height: 21px;
  }
  &__link {
    align-items: center;
    color: $black;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    position: relative;
    text-decoration: none;
    transition: all ease-out .2s;
    &:hover {
      opacity: .7;
    }
    @media screen and (max-width: 1400px) {
      font-size: 16px;
    }
    @media screen and (max-width: $tablet-size) {
      font-size: 18px;
    }
  }
  &__icon-info {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__address {
    @media screen and (max-width: $mobile-size) {
      text-align: center;
    }
  }
  &__information {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 18px;
    @media screen and (max-width: $tablet-size) {
      align-items: flex-start;
    }
    @media screen and (max-width: $mobile-size) {
      width: 100%;
    }
  }
  &__copyright {
    margin: 0 0 10px 0;
    @media screen and (max-width: $mobile-size) {
      margin: 0 auto 10px;
    }
  }
  &__links {
    text-align: right;
    a {
      color: $black;
      transition: all ease-out .2s;
      &:hover {
        opacity: .7;
      }
    }
    @media screen and (max-width: $tablet-size) {
      text-align: unset;
    }
    @media screen and (max-width: $mobile-size) {
      margin: 0 auto;
    }
  }
  &__yandex {
    align-items: center;
    background-color: $white;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 151px;
    @media screen and (max-width: $mobile-size) {
      margin: 0 auto;
    }
  }
}
