section.crossdocking-service
	.container.gx-20.gx-md-30.gx-lg-110
		.row.gx-lg-40.align-items-md-center.mb-40.mb-md-60.mb-lg-95
			.col-lg-6
				h2.crossdocking-service__title Об услуге
			.col-lg-6
				p.crossdocking-service__text.section__text Мы осуществляем в том числе и двухэтапный кросс-док, включающий переупаковку, перекомплектацию, перемаркировку, стикеровку и т.п.
		.row.gy-20.gy-md-30.gx-md-40.mb-60.mb-lg-100
			.col-lg-4.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					p.fulfillment-service__desc Мы осуществляем отгрузку товаров напрямую от Ваших поставщика/из ваших торговых точек, либо совмещая эти способы, вы также самостоятельно можете привезти товар к нам на терминал
			.col-lg-4.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					p.fulfillment-service__desc Товары поступившие на склад, в зоне выполнения погрузочно-разгрузочных работ формируются в заказы для отдельных получателей, проходя ряд процедур для дальнейшей отправки: сортировку, комплектацию, упаковку, маркировку и тд
			.col-lg-4.d-flex
				.fulfillment-service__inner
					+icon('icon-check', 'fulfillment-service__icon', '27', '27')
					p.fulfillment-service__desc Готовые заказы отправляются получателям по всей России
		.row.gx-md-40
			.col-lg-8.mb-60.mb-lg-0
				h2.crossdocking-service__sub-title Помимо этого мы можем:
				ul.crossdocking-service__list
					li.crossdocking-service__item
						+icon('icon-check', 'crossdocking-service__icon', '27', '27')
						p.crossdocking-service__desc Выкупать Ваш товар у Ваших поставщиков
					li.crossdocking-service__item
						+icon('icon-check', 'crossdocking-service__icon', '27', '27')
						p.crossdocking-service__desc Вкладывать товарные накладные/буклеты и прочие документы в ваши заказы
					li.crossdocking-service__item
						+icon('icon-check', 'crossdocking-service__icon', '27', '27')
						p.crossdocking-service__desc Возвращать невостребованный товар Вашим поставщикам и многое другое
			.col-lg-4
				h2.crossdocking-service__sub-title Тарифы
				ul.tariffs-table__list
					li.tariffs-table__item.tariffs-table__item--crossdocking
						.col-6.px-10
							span.tariffs-table__price Комплектация заказа
						.col-6.px-10
							span.tariffs-table__price 5 руб./товарная единица
					li.tariffs-table__item.tariffs-table__item--crossdocking
						.col-6.px-10
							span.tariffs-table__price Упаковка заказа
						.col-6.px-10
							span.tariffs-table__price ссылка на короба
					li.tariffs-table__item.tariffs-table__item--crossdocking
						.col-6.px-10
							span.tariffs-table__price Маркировка заказа
						.col-6.px-10
							span.tariffs-table__price 20 руб.
	img.about-statistics__bottom-bg(src="static/images/common/about-stat-bg-desktop.png" width="1920" height="313" alt="Фоновое изображение Питера")
