section.crossdocking-delivery
	.container.gx-20.gx-md-30.gx-lg-110
		h2.crossdocking-delivery__title Условия доставки
		ul.crossdocking-delivery__list.row.g-20.g-md-30.g-lg-40
			li.crossdocking-delivery__item.col-lg-4
				.crossdocking-delivery__inner
					.crossdocking-delivery__icon-box
						+icon('icon-clock-transparent', 'crossdocking-delivety__icon', '64', '64')
					p.crossdocking-delivery__text Доставка по Санкт-Петербургу и ЛО на следующий день осуществляется при условии получения товара накануне вечером в СПб
			li.crossdocking-delivery__item.col-lg-4
				.crossdocking-delivery__inner
					.crossdocking-delivery__icon-box
						+icon('icon-delivery-24', 'crossdocking-delivety__icon', '64', '64')
					p.crossdocking-delivery__text Доставка из Москвы в Санкт-Петербург и ЛО и из Санкт-Петербурга по Москве и МО осуществляется через день после получения товара
			li.crossdocking-delivery__item.col-lg-4
				.crossdocking-delivery__inner
					.crossdocking-delivery__icon-box
						+icon('icon-location-tracking', 'crossdocking-delivety__icon', '56', '56')
					p.crossdocking-delivery__text Отправка заказов по России осуществляется на следующий день после поступления товаров на терминал нашей службы
