section.crossdocking-what-is
	.container.gx-20.gx-md-30.gx-lg-110
		.row.gx-0
			.col-12.col-lg-8
				.crossdocking-what-is__inner
					h2.crossdocking-what-is__title Что такое Кросс-докинг
					p.crossdocking-what-is__text.section__text Кросс-докинг или сквозная логистика — это процесс приемки и отгрузки товаров через склад напрямую, без размещения в зоне долговременного хранения. Заказы интернет-магазинов комплектуются и отправляются максимально оперативно, минуя часть процессов классического фулфилмента. Забранный/полученный товар принимается, сортируется, комплектуется, упаковывается, маркируется и отправляется на доставку покупателям. Благодаря тому, что часть процессов выпадает, услуги кросс-докинга получаются быстрее и дешевле.
