section.news
	.container.gx-20.gx-md-30.gx-lg-110
		p Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантированные выплаты. Также фирма собирается интенсивно продвигать самовывоз. Декларируется, что в результате заработок партнеров «Яндекс.Маркет» увеличится.
		.news__img
			img(src="static/images/content/new-img-1.jpg" width="1420" height="600" alt="Картинка новости")
			span Подпись к фото если необходима
		p Но франчайзи не согласны, так как ежемесячные издержки на функционирование ПВЗ в зависимости от региона составляют 120—170 тыс. рублей, и проценты эту величину не покроют.
		.news__blockquote
			blockquote «Цитата. Но франчайзи не согласны, так как ежемесячные издержки на функционирование ПВЗ в зависимости от региона составляют 120—170 тыс. рублей, и проценты эту величину не покроют.»
			cite Стив Джобс, президент компании Apple
		p Аналитик Алексей Петровский указывает, что фиксированная ежемесячная сумма, полагающаяся партнерам, составляла 220 тысяч рублей, а на процентах им будет доставаться лишь 60 тысяч рублей. Сами франчайзи опасаются разорения.
		p В «Яндекс.Маркете» предоставили информацию, что число заказов, поступающих через брендированные ПВЗ, увеличилось в 12 раз в течение предыдущих трех месяцев В то же время среднее значение чека на маркетплейсе превосходит аналогичный показатель для отрасли в целом. Причина в том, что именно через «Маркет» проходят значительные объемы дорогостоящих бытовых устройств и электроники.
		p Яндекс.маркет намерен увеличивать число клиентов, обслуживаемых через брендированные ПВЗ, и предоставлять партнерам оптимальные условия, за счет этого предполагается рост дохода владельцев ПВЗ.
		p В «Маркете» обещают в дальнейшем оказывать своим партнерам большее содействие в привлечении клиентов с использованием наружной рекламы, а также готовы советовать пользователям, пришедшим на маркетплейс, выбрать доставку в ПВЗ, за которую не взимается дополнительная плата. Кроме того, об опции ПВЗ будут сообщать такие сервисы Яндекса, как Лавка, Навигатор и Карты.
		p Кроме этого, большее число партнеров «ЯндексМаркет» получат возможность оказывать услугу дроп-оффа, то есть принятия товаров на доставку от поставщиков. На данный момент их число свыше 300, в дальнейшем оно возрастет.
		.news__navigation
			a(href="news-market.html").button.button--transparent.news__button.news__button--prev
				+icon('icon-arrow-right', 'news__icon', '16', '16')
				span Все новости
			a(href="#").button.news__button
				span Следующая новость
				+icon('icon-arrow-right', 'news__icon', '16', '16')


