section.offline-retail-advantages
	.container.gx-20.gx-md-30.gx-lg-110
		h2.offline-retail-advantages__title Преимущества услуги
		ul.offline-retail-advantages__list.row.gx-20.gy-60.g-md-30.g-lg-40
			li.offline-retail-advantages__item.col-6.col-md-4.col-lg-3
				.offline-retail-advantages__icon-box
					+icon('icon-file-card', 'offline-retail-advantages__icon', '72', '58')
				p.offline-retail-advantages__text Выбор способа доставки в зависимости от потребностей вашего бизнеса
			li.offline-retail-advantages__item.col-6.col-md-4.col-lg-3
				.offline-retail-advantages__icon-box
					+icon('icon-calendar', 'offline-retail-advantages__icon', '80', '80')
				p.offline-retail-advantages__text Доставка 7 дней в неделю
			li.offline-retail-advantages__item.col-6.col-md-4.col-lg-3
				.offline-retail-advantages__icon-box
					+icon('icon-tshot', 'offline-retail-advantages__icon', '72', '72')
				p.offline-retail-advantages__text Возможность примерки и частичного выкупа
			li.w-100.d-none.d-lg-block
			li.offline-retail-advantages__item.col-6.col-md-4.col-lg-3
				.offline-retail-advantages__icon-box
					+icon('icon-clock-arrow', 'offline-retail-advantages__icon', '66', '70')
				p.offline-retail-advantages__text Возможность выбора интервала доставки
			li.offline-retail-advantages__item.col-6.col-md-4.col-lg-3
				.offline-retail-advantages__icon-box
					+icon('icon-refund', 'offline-retail-advantages__icon', '82', '82')
				p.offline-retail-advantages__text Быстрый возврат денежных средств
			li.offline-retail-advantages__item.col-6.col-md-4.col-lg-3
				.offline-retail-advantages__icon-box
					+icon('icon-phone-card', 'offline-retail-advantages__icon', '68', '70')
				p.offline-retail-advantages__text Прием оплаты наличными и по банковской карте и многое другое
