section.offline-retail-options
	.container.gx-20.gx-md-30.gx-lg-110
		.row.g-lg-40
			.col-lg-4.mb-40.mb-lg-0
				h2.offline-retail-options__title Варианты доставки:
				p.offline-retail-options__text.section__text Более подробно узнать об услуге Вы можете позвонив по телефону: #[a(href="tel:+78122008668") +7&nbsp;(812)&nbsp;200-86-68] написав нам на почту: #[a(href="mailto:info@e-logs.ru") info@e-logs.ru] либо задать вопрос в онлайн-чате на любой странице нашего сайта.
			.col-lg-8
				ul.offline-retail-options__list.row.g-lg-40
					li.offline-retail-options__item.col-lg-6
						.offline-retail-options__inner
							+icon('icon-box-location', 'offline-retail-options__icon', '80', '80')
							h3.offline-retail-options__name Стандартная доставка покупок
							p.offline-retail-options__desc.section__text В день заказа или на следующий день.
					li.offline-retail-options__item.col-lg-6
						.offline-retail-options__inner
							+icon('icon-car-fast', 'offline-retail-options__icon', '80', '80')
							h3.offline-retail-options__name Срочная доставка
							p.offline-retail-options__desc.section__text Вечерней доставкой в течении 3-х часов в день оформления.
	img.about-statistics__bottom-bg(src="static/images/common/about-stat-bg-desktop.png" width="1920" height="313" alt="Фоновое изображение Питера")
