extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		.container
			.row.pt-40
				.col-12
					ul
						li
							a(href="index.html") На главную
						li
							a(href="about.html") О компании
