extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		.container
			.row.pt-40
				.col-12
					ul
						li.p-20
							a(href="index.html") На главную
						li.p-20
							a(href="about.html") О компании
						li.p-20
							a(href="cost-delivery.html") Расчитать стоимость доставки
						li.p-20
							a(href="payment-delivery.html") Оплата доставки онлайн
