extends layout/main

block variables
	-var title = 'Главная страница'
	-var pageClass = 'index-page'

block content
	main(class=pageClass)
		.container
			.row.pt-40
				.col-12
					ul
						li.p-20
							a(href="index.html") На главную
						li.p-20
							a(href="about.html") О компании
						li.p-20
							a(href="cost-delivery.html") Расчитать стоимость доставки
						li.p-20
							a(href="payment-delivery.html") Оплата доставки онлайн
						li.p-20
							a(href="certificates.html") Сертификаты
						li.p-20
							a(href="cash-service.html") Кассовое оборудование
						li.p-20
							a(href="delivery-calculation.html") Виджет расчета доставки
						li.p-20
							a(href="helpful-information.html") Полезная информация
						li.p-20
							a(href="helpful-information-2.html") Полезная информация - 2
						li.p-20
							a(href="helpful-information-3.html") Полезная информация - 3
						li.p-20
							a(href="reviews.html") Отзывы
						li.p-20
							a(href="payment-method.html") Способы оплаты
						li.p-20
							a(href="delivery-russia.html") Доставка по России
