extends layout/main

block variables
	-var title = 'Владельцам интернет-магазинов'
	-var pageClass = 'online-store-owners'

block content
	main(class=pageClass)
		include pages/online-store-owners/hero
		include pages/online-store-owners/online-store-owners
