extends layout/main

block variables
	-var title = 'Отзывы'
	-var pageClass = 'reviews-page'

block content
	main(class=pageClass)
		include pages/reviews/hero
		include pages/reviews/feedback
		include pages/reviews/reviews

