section.about__statistics.about-statistics
	.container.gx-110
		.about-statistics__top.row.gx-40
			.col-6
				+icon('icon-2014', 'about-statistics__icon', '369', '118')
			.col-6
				p.about-statistics__text Начав свою деятельность в 2014 году с небольшой структуры в несколько человек, мы поставили себе амбициозную цель стать одной из ведущих курьерских служб в Санкт-Петербурге и ЛО, предлагая онлайн ритейлу широкий спектр услуг с максимальным качеством и по доступной цене.
		.about-statistics__bottom.row.gx-40
			.col-12
				h2.about-statistics__title E-Logistics сегодня
			.col-6
				.row
					.col-6
						span.about-statistics__count >300
						p.about-statistics__description Интернет-магазинов доверяют нам на сегодняшний день
					.col-6
						span.about-statistics__count >1000
						p.about-statistics__description Заказов доставляем ежедневно
			.col-6
				p.about-statistics__text Начав свою деятельность в 2014 году с небольшой структуры в несколько человек, мы поставили себе амбициозную цель стать одной из ведущих курьерских служб в Санкт-Петербурге и ЛО, предлагая онлайн ритейлу широкий спектр услуг с максимальным качеством и по доступной цене.
