section.delivery-russia-advantages
	.container.gx-20.gx-md-30.gx-lg-110
		.row.gx-40.mb-60.mb-lg-260
			.col-12.col-lg-6.mb-40.mb-md-50.mb-lg-100
				h3.delivery-russia-advantages__title Преимущества работы с нами при отправке заказов по России и за рубеж:
			.col-12
				.row.gx-20.gx-md-30.gy-60.gy-lg-80
					.col-6.col-md-4.col-lg-3
						.delivery-russia-advantages__icon-box
							+icon('icon-location-tracking', 'delivery-russia-advantages__icon', '60', '60')
						p.delivery-russia-advantages__name Покрытие большинства населенных пунктов
					.col-6.col-md-4.col-lg-3
						.delivery-russia-advantages__icon-box
							+icon('icon-checklist', 'delivery-russia-advantages__icon', '60', '60')
						p.delivery-russia-advantages__name Удобное оформление заявок
					.col-6.col-md-4.col-lg-3
						.delivery-russia-advantages__icon-box
							+icon('icon-conversation', 'delivery-russia-advantages__icon', '82', '82')
						p.delivery-russia-advantages__name Быстрое решение вопросов по отправленным заказам с партнерами напрямую
					.w-100.d-none.d-lg-block.my-0
					.col-6.col-md-4.col-lg-3
						.delivery-russia-advantages__icon-box
							+icon('icon-tax', 'delivery-russia-advantages__icon', '62', '74')
						p.delivery-russia-advantages__name Прозрачные тарифы и условия работы
					.col-6.col-md-4.col-lg-3
						.delivery-russia-advantages__icon-box
							+icon('icon-refund', 'delivery-russia-advantages__icon', '82', '82')
						p.delivery-russia-advantages__name Быстрый возврат денежных средств и невостребованных заказов
					.col-6.col-md-4.col-lg-3
						.delivery-russia-advantages__icon-box
							+icon('icon-track', 'delivery-russia-advantages__icon', '82', '82')
						p.delivery-russia-advantages__name Все статусы перемещения заказа в вашем личном кабинете
		.delivery-russia-advantages__slider.swiper-container
			ul.delivery-russia-advantages__list.swiper-wrapper
				li.delivery-russia-advantages__item.swiper-slide
					.delivery-russia-advantages__wrap
						.delivery-russia-advantages__img-box
							img.delivery-russia-advantages__img-icon(src="static/images/content/icon-russian-post.svg" width="165" height="80" alt="Картинка почты России")
						.delivery-russia-advantages__options
							h6.delivery-russia-advantages__option Курьер-онлайн
							p.delivery-russia-advantages__text Доставка в 1800 населенных пунктов курьером покупателю по России лично в руки, максимальный вес посылки 31 кг., сумма Ш/Д/В: ≤ 140 см (длина каждой из сторон ≤ 60 см) В рамках данной услуги Вам также доступны: проверка вложимого, оплата наличными либо картой при получении, легкий возврат, смс информирование и многое другое.
							a.delivery-russia-advantages__link(href="#") Подробнее об услуге
						.delivery-russia-advantages__options
							h6.delivery-russia-advantages__option EMS
							p.delivery-russia-advantages__text Доставка заказов более чем в 50000 населенных пунктов по России курьером весом до 31 кг., а также более чем в 180 стран весом до 10 кг.
							a.delivery-russia-advantages__link(href="#") Подробнее об услуге
							a.delivery-russia-advantages__link(href="#") Отследить заказ
							a.delivery-russia-advantages__link(href="#") Скачать приложение
				li.delivery-russia-advantages__item.swiper-slide
					.delivery-russia-advantages__wrap
						.delivery-russia-advantages__img-box
							img.delivery-russia-advantages__img-icon(src="static/images/content/icon-sdek.png" width="227" height="50" alt="Картинка СДЕК")
						.delivery-russia-advantages__options
							h6.delivery-russia-advantages__option Посылка
							p.delivery-russia-advantages__text Доставка в более чем 200 населенных по России за 2-5 дней в зависимости от направления, а также оперативная доставка в Беларусь, Казахстан, Киргизию и другие страны СНГ, примерка, проверка вложимого, частичный выкуп, прием наличных и оплата по карте, интервальная доставка 7 дней в неделю.
							a.delivery-russia-advantages__link(href="#") Подробнее об услуге
							a.delivery-russia-advantages__link(href="#") Отследить заказ
				li.delivery-russia-advantages__item.swiper-slide
					.delivery-russia-advantages__wrap
						.delivery-russia-advantages__img-box
							img.delivery-russia-advantages__img-icon(src="static/images/content/icon-boxberry.svg" width="102" height="80" alt="Картинка Boxberry")
						.delivery-russia-advantages__options
							p.delivery-russia-advantages__text Покрытие больше 300 населенных пунктов, вес заказа до 15 кг., интервальная доставка по рабочим дням, возможность вскрытия, оплата наличными или по карте, примерка
							a.delivery-russia-advantages__link(href="#") Подробнее об доставке
							a.delivery-russia-advantages__link(href="#") Отследить заказ
			.delivery-russia-advantages-pagination



