section.delivery-russia-feautures
	.container.gx-20.gx-md-30.gx-lg-110
		.row.gx-40
			.col-12.col-lg-6
				p.delivery-russia-feautures__desc.section__text.mb-40.mb-md-60 Мы работаем в режиме одного окна, это значит, что Вам достаточно оформить заявку в личном кабинете либо по API, выбрать партнера через которого хотите отправить заказ и передать его нам, а все остальное мы возьмем на себя.
			.col-12
				.row.gx-lg-40.gy-40.gy-lg-0
					.col-12.col-lg-6
						ul.delivery-russia-feautures__list
							li.delivery-russia-feautures__item
								+icon('icon-check', 'delivery-russia-feautures__icon', '27', '27')
								.delivery-russia-feautures__text Заберем у Вас заказ или заберем заказ у Ваших поставщиков/Заберем товар у Ваших поставщиков и скомплектуем в заказ/скомплектуем товары в заказ который хранится у нас на терминале
							li.delivery-russia-feautures__item
								+icon('icon-check', 'delivery-russia-feautures__icon', '27', '27')
								.delivery-russia-feautures__text Упакуем заказ по стандартам партнера через которого осуществляется отправка (при необходимости)
							li.delivery-russia-feautures__item
								+icon('icon-check', 'delivery-russia-feautures__icon', '27', '27')
								.delivery-russia-feautures__text Сформируем и напечатаем необходимые бланки партнеров для маркировки заказов
					.col-12.col-lg-6
						ul.delivery-russia-feautures__list
							li.delivery-russia-feautures__item
								+icon('icon-check', 'delivery-russia-feautures__icon', '27', '27')
								.delivery-russia-feautures__text Передадим заказы напрямую в распределительный центр партнера не позднее чем через сутки после получения товара/заказа у Вас
							li.delivery-russia-feautures__item
								+icon('icon-check', 'delivery-russia-feautures__icon', '27', '27')
								.delivery-russia-feautures__text Отправим СМС оповещение об отправке заказа получателю
							li.delivery-russia-feautures__item
								+icon('icon-check', 'delivery-russia-feautures__icon', '27', '27')
								.delivery-russia-feautures__text Обработаем наложенный платеж и оперативно перечислим Вам денежные средства
							li.delivery-russia-feautures__item
								+icon('icon-check', 'delivery-russia-feautures__icon', '27', '27')
								.delivery-russia-feautures__text Заберем возвраты, проверим их сохранность и передадим в ИМ
	img.about-statistics__bottom-bg(src="static/images/common/about-stat-bg-desktop.png" width="1920" height="313" alt="Фоновое изображение Питера")
