// Colors
$white: #fff;
$black: #000;
$background-light-gray-color: #f9f9f9;
$border-color: #ddd;
$dark-green-color: #152b26;
$light-gray-color: #f0f0f0;
$red-color: #ff3f3f;

// Sizes
$base-font-size: 16px;

$tablet: 768;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts
$main-font: 'Open Sans', Arial, sans-serif;
