// Colors
$white: #fff;
$black: #000;
$background-light-gray-color: #f9f9f9;
$background-dark-green-color: #203934;
$border-color: #ddd;
$bullet-color: #c4c4c4;
$dark-green-color: #152b26;
$light-gray-color: #f0f0f0;
$text-grey-color: #6c6c6c;
$text-green-color: #9cbab3;
$red-color: #ff3f3f;

// Sizes
$base-font-size: 16px;
$mobile-size: 767px;
$tablet-size: 1279px;
$large: 1024;
$desktop: 1280;

$content: 1000px;

// Fonts
$main-font: 'Open Sans', Arial, sans-serif;
