.about-concept {
  background-color: $background-light-gray-color;
  padding: 100px 0;
  @media screen and (max-width: $tablet-size) {
    padding: 50px 0;
  }
  @media screen and (max-width: $mobile-size) {
    padding: 40px 0;
  }
  &__promo {
    background-color: $red-color;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(95, 85, 155, .1);
    color: $white;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    padding: 40px;
    @media screen and (max-width: $mobile-size) {
      font-size: 18px;
      line-height: 26px;
    }
  }
  &__title {
    font-size: 45px;
    font-weight: 700;
    line-height: 65px;
    margin: 0 0 40px 0;
    @media screen and (max-width: $mobile-size) {
      font-size: 30px;
      line-height: 40px;
      margin: 0 0 20px 0;
    }
  }
  &__text {
    font-size: 18px;
    line-height: 30px;
    @media screen and (max-width: $mobile-size) {
      font-size: 15px;
      line-height: 24px;
    }
  }
  &__icon {
    margin: 0 0 40px 0;
    @media screen and (max-width: $tablet-size) {
      margin: 0 0 20px 0;
    }
    @media screen and (max-width: $mobile-size) {
      margin: 0 0 16px 0;
    }
  }
  &__icon-note {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  &__table {
    display: flex;
    padding: 15px 40px;
    &--gray {
      background-color: $light-gray-color;
    }
    @media screen and (max-width: $tablet-size) {
      margin: 0 -30px;
      padding: 15px 30px;
    }
    @media screen and (max-width: $mobile-size) {
      margin: 0 -20px;
      padding: 15px 20px;
    }
  }
}
