.list-round {
  &__item {
    padding-left: 36px;
    position: relative;
    &:not(:last-child) {
      margin: 0 0 12px 0;
    }
    &::after {
      content: "";
      border: 2px solid $red-color;
      border-radius: 50%;
      height: 8px;
      left: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
    }
  }
  &__feautures {
    font-size: 16px;
    line-height: 28px;
  }
}
