.section {
  &__headline {
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
  }
  &__text {
    font-size: 18px;
    line-height: 30px;
    a {
      color: $red-color;
      transition: all ease-out .2s;
      &:hover {
        opacity: .7;
      }
    }
  }
}

.code {
  border: 2px dashed $red-color;
  border-radius: 10px;
  padding: 20px;
  &__text {
    font-family: $main-font;
    font-size: 18px;
    line-height: 30px;
  }
}

.list-round {
  &__item {
    padding-left: 36px;
    position: relative;
    @media screen and (max-width: $mobile-size) {
      padding-left: 26px;
    }
    &:not(:last-child) {
      margin: 0 0 12px 0;
    }
    &::after {
      content: '';
      border: 2px solid $red-color;
      border-radius: 50%;
      height: 8px;
      left: 10px;
      position: absolute;
      top: 10px;
      width: 8px;
      @media screen and (max-width: $mobile-size) {
        left: 5px;
        top: 7px;
      }
    }
  }
  &__feautures {
    font-size: 16px;
    line-height: 28px;
    @media screen and (max-width: $mobile-size) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.list-number {
  counter-reset: list-number;
  &__item {
    align-items: center;
    display: flex;
    position: relative;
    &:not(:last-child) {
      margin: 0 0 24px 0;
    }
    &::before {
      border: 2px solid $red-color;
      border-radius: 10px;
      counter-increment: list-number;
      content: '' counter(list-number) '';
      color: $red-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 18px;
      left: 0;
      margin: 0 24px 0 0;
      padding: 10px 15px;
    }
  }
  &__desc {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }
}

.list-files {
  &__item {
    align-items: center;
    display: flex;
    &:not(:last-child) {
      margin: 0 0 24px 0;
    }
  }
  &__link {
    color: $red-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    padding-left: 28px;
    position: relative;
    text-decoration: none;
    transition: all ease-out .2s;
    &:hover {
      opacity: .7;
    }
  }
  &__icon {
    height: 20px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
  }
}

.list-questions {
  &__item {
    &:not(:last-child) {
      margin: 0 0 50px 0;
    }
  }
  &__inner {
    align-items: center;
    display: flex;
    margin: 0 0 26px 0;
    position: relative;
  }
  &__questions {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding-left: 48px;
  }
  &__icon {
    left: 0;
    position: absolute;
    top: 2px;
  }
  &__answer {
    font-size: 18px;
    line-height: 30px;
  }
}

.list-checks {
  &__item {
    padding-left: 48px;
    position: relative;
    &:not(:last-child) {
      margin: 0 0 40px 0;
      @media screen and (max-width: $mobile-size) {
        margin: 0 0 30px 0;
      }
    }
  }
  &__icon {
    left: 0;
    position: absolute;
    top: 5px;
  }
  &__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    @media screen and (max-width: $tablet-size) {
      font-size: 16px;
      line-height: 26px;
    }
    @media screen and (max-width: $mobile-size) {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
