.news-post {
  padding: 100px 0;
  @media screen and (max-width: $tablet-size) {
    padding: 50px 0;
  }
  @media screen and (max-width: $mobile-size) {
    padding: 40px 0;
  }
  &__list {
    columns: 400px 2;
    column-gap: 40px;
    margin: 0 0 100px 0;
    @media screen and (max-width: $tablet-size) {
      margin: 0 0 60px 0;
    }
    @media screen and (max-width: $mobile-size) {
      margin: 0 0 40px 0;
    }
  }
  &__item {
    background-color: $background-light-gray-color;
    border-radius: 10px;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;
    transition: all ease-out .15s;
    @media screen and (max-width: $mobile-size) {
      padding: 24px;
    }
    &:not(:last-child) {
      margin: 0 0 40px 0;
      @media screen and (max-width: $mobile-size) {
        margin: 0 0 20px 0;
      }
    }
    &:hover {
      background-color: $white;
      box-shadow: 0 10px 30px rgba(95, 85, 155, .1);
    }
  }
  &__date {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin: 0 0 32px 0;
    @media screen and (max-width: $mobile-size) {
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 20px 0;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin: 0 0 16px 0;
    @media screen and (max-width: $tablet-size) {
      font-size: 20px;
      line-height: 28px;
    }
    @media screen and (max-width: $mobile-size) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 32px 0;
    @media screen and (max-width: $mobile-size) {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 20px 0;
    }
  }
  &__link {
    color: $red-color;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    @media screen and (max-width: $mobile-size) {
      font-size: 14px;
      line-height: 18px;
    }
    svg {
      fill: $red-color;
      opacity: 0;
      margin: 0 0 0 10px;
      transition: all ease-out .15s;
    }
    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
}
