section.helpful-information
	.container.gx-20.gx-md-30.gx-lg-110
		.row.gx-40.gy-50.gy-lg-0
			.col-12.col-lg-6
				h4.helpful-information__headline.section__headline.mb-50 Часто задаваемые вопросы
				ul.helpful-information__list-questions.list-questions
					li.list-questions__item
						.list-questions__inner
							+icon('icon-questions', 'list-questions__icon', '27', '27')
							h5.list-questions__questions Как начать с Вами работу?
						p.list-questions__answer Для того, чтобы начать работу с нашей службой Вам необходимо отправить запрос на электронный адрес: info@e-logs.ru, либо позвонить по телефону: +7(812) 200-86-68 После согласования условий с сотрудником службы мы заключаем договор, Вам присваивают уникальные логин и пароль в личном кабинете, и Вы сразу можете начать пользоваться нашим сервисом.
					li.list-questions__item
						.list-questions__inner
							+icon('icon-questions', 'list-questions__icon', '27', '27')
							h5.list-questions__questions Есть ли ограничения по минимальному количеству заказов?
						p.list-questions__answer Ограничений нет.
					li.list-questions__item
						.list-questions__inner
							+icon('icon-questions', 'list-questions__icon', '27', '27')
							h5.list-questions__questions Какие услуги Вы оказываете интернет-магазинам?
						p.list-questions__answer Мы предоставляем максимально широкий спектр услуг для компаний дистанционной торговли, в него входят: хранение, комплектация заказов, штрихкодирование товара, артикулированное товара, доставка по Санкт-Петербург и Москве максимально широкой весовой линейки заказов, выдача заказов в ПВЗ, кассовое обслуживание, прием пластиковых карт, подъем на этаж, региональная доставка и многое другое.
					li.list-questions__item
						.list-questions__inner
							+icon('icon-questions', 'list-questions__icon', '27', '27')
							h5.list-questions__questions Какие ограничения по весу и габаритам существуют у Вас?
						p.list-questions__answer На данный момент ограничения по весу в Санкт-Петербурге и Москве составляют 1500 кг., по габаритам 4 кубических метра. В остальных регионах максимальный вес доставляемого заказа не должен превышать 30 кг.
					li.list-questions__item
						.list-questions__inner
							+icon('icon-questions', 'list-questions__icon', '27', '27')
							h5.list-questions__questions Какие ограничения по весу и габаритам существуют у Вас?
						p.list-questions__answer На данный момент ограничения по весу в Санкт-Петербурге и Москве составляют 1500 кг., по габаритам 4 кубических метра. В остальных регионах максимальный вес доставляемого заказа не должен превышать 30 кг.
			.col-12.col-lg-6
				ul.helpful-information__list-questions.list-questions
					li.list-questions__item
						.list-questions__inner
							+icon('icon-questions', 'list-questions__icon', '27', '27')
							h5.list-questions__questions Как начать с Вами работу?
						p.list-questions__answer Для того, чтобы начать работу с нашей службой Вам необходимо отправить запрос на электронный адрес: info@e-logs.ru, либо позвонить по телефону: +7(812) 200-86-68 После согласования условий с сотрудником службы мы заключаем договор, Вам присваивают уникальные логин и пароль в личном кабинете, и Вы сразу можете начать пользоваться нашим сервисом.
					li.list-questions__item
						.list-questions__inner
							+icon('icon-questions', 'list-questions__icon', '27', '27')
							h5.list-questions__questions Есть ли ограничения по минимальному количеству заказов?
						p.list-questions__answer Ограничений нет.
					li.list-questions__item
						.list-questions__inner
							+icon('icon-questions', 'list-questions__icon', '27', '27')
							h5.list-questions__questions Какие услуги Вы оказываете интернет-магазинам?
						p.list-questions__answer Мы предоставляем максимально широкий спектр услуг для компаний дистанционной торговли, в него входят: хранение, комплектация заказов, штрихкодирование товара, артикулированное товара, доставка по Санкт-Петербург и Москве максимально широкой весовой линейки заказов, выдача заказов в ПВЗ, кассовое обслуживание, прием пластиковых карт, подъем на этаж, региональная доставка и многое другое.
					li.list-questions__item
						.list-questions__inner
							+icon('icon-questions', 'list-questions__icon', '27', '27')
							h5.list-questions__questions Какие ограничения по весу и габаритам существуют у Вас?
						p.list-questions__answer На данный момент ограничения по весу в Санкт-Петербурге и Москве составляют 1500 кг., по габаритам 4 кубических метра. В остальных регионах максимальный вес доставляемого заказа не должен превышать 30 кг.
					li.list-questions__item
						.list-questions__inner
							+icon('icon-questions', 'list-questions__icon', '27', '27')
							h5.list-questions__questions Какие ограничения по весу и габаритам существуют у Вас?
						p.list-questions__answer На данный момент ограничения по весу в Санкт-Петербурге и Москве составляют 1500 кг., по габаритам 4 кубических метра. В остальных регионах максимальный вес доставляемого заказа не должен превышать 30 кг.
