section.helpful-information
	.container.gx-110
		.row.gx-40
			.col-6
				h4.helpful-information__headline.section__headline.mb-30 Документы
				p.helpful-information__text.section__text В данном разделе Вы можете ознакомиться с типовым договором, регламентом работ нашей службы, дополнительными соглашениями, а также иными документами необходимыми для работы с нами.
			.col-6
				h4.helpful-information__headline.section__headline.mb-30 Файлы для скачивания
				ul.helpful-information__files.list-files
					li.list-files__item
						a.list-files__link(href="#" download) Тарифы
							+icon('icon-file', 'list-files__icon', '18', '20')
					li.list-files__item
						a.list-files__link(href="#" download) Договор
							+icon('icon-file', 'list-files__icon', '18', '20')
					li.list-files__item
						a.list-files__link(href="#" download) Отчет агента
							+icon('icon-file', 'list-files__icon', '18', '20')
					li.list-files__item
						a.list-files__link(href="#" download) Акт возврата заказов
							+icon('icon-file', 'list-files__icon', '18', '20')
					li.list-files__item
						a.list-files__link(href="#" download) Акт приема передачи заказов
							+icon('icon-file', 'list-files__icon', '18', '20')
					li.list-files__item
						a.list-files__link(href="#" download) Регламент оказания услуг
							+icon('icon-file', 'list-files__icon', '18', '20')
