section.news-post
	.container.gx-20.gx-md-30.gx-lg-110
		ul.news-post__list.mb-0
			li.news-post__item
				span.news-post__date 28.07.2021
				h5.news-post__title Рост спроса на доставку
				p.news-post__text Более 55 млн – такое количество заказов сделали покупатели на условиях срочной доставки в начале 2021 года.
				a.news-post__link.stretched-link(href="#")
					span.news-post__link-text Подробнее
					+icon('icon-arrow-right', 'news-post__icon', '16', '16')
			li.news-post__item
				span.news-post__date 28.07.2021
				h5.news-post__title Яндекс дал доступ в колдунщики всем желающим
				p.news-post__text В 2020 году некоторые компании, среди которых Avito и ivi подали жалобу в Федеральную антимонопольную службу против поисковика. Они пожаловались по поводу колдунщиков, которые получали только сервисы компании Яндекс.
				a.news-post__link.stretched-link(href="#")
					span.news-post__link-text Подробнее
					+icon('icon-arrow-right', 'news-post__icon', '16', '16')
			li.news-post__item
				span.news-post__date 28.07.2021
				h5.news-post__title Для партнеров «Яндекс.Маркет» есть опасность утраты ПВЗ?
				p.news-post__text Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантированные выплаты.
				a.news-post__link.stretched-link(href="#")
					span.news-post__link-text Подробнее
					+icon('icon-arrow-right', 'news-post__icon', '16', '16')
			li.news-post__item
				span.news-post__date 28.07.2021
				h5.news-post__title Для партнеров «Яндекс.Маркет» есть опасность утраты ПВЗ?
				p.news-post__text Компания «Яндекс.Маркет» внесла существенные корректировки в оферту, относящуюся к пунктам выдачи заказов (ПВЗ), носящим ее бренд и организованным на основе франшизы. Начиная с августа эта организация намеревается начислять 20% от величины всех обработанных заказов, данная схема заменит прежние гарантированные выплаты.
				a.news-post__link.stretched-link(href="#")
					span.news-post__link-text Подробнее
					+icon('icon-arrow-right', 'news-post__icon', '16', '16')
			li.news-post__item
				span.news-post__date 28.07.2021
				h5.news-post__title Платформа CS-Cart добавила функцию фулфилмента
				p.news-post__text Специалисты CS-Cart в 2021 году провели опрос среди 250 отечественных и иностранных пользователей платформы, чтобы выяснить, какие схемы отправки продукции наиболее удобны, выгодны для бизнеса.
				a.news-post__link.stretched-link(href="#")
					span.news-post__link-text Подробнее
					+icon('icon-arrow-right', 'news-post__icon', '16', '16')
			li.news-post__item
				span.news-post__date 28.07.2021
				h5.news-post__title Яндекс дал доступ в колдунщики всем желающим
				p.news-post__text В 2020 году некоторые компании, среди которых Avito и ivi подали жалобу в Федеральную антимонопольную службу против поисковика. Они пожаловались по поводу колдунщиков, которые получали только сервисы компании Яндекс.
				a.news-post__link.stretched-link(href="#")
					span.news-post__link-text Подробнее
					+icon('icon-arrow-right', 'news-post__icon', '16', '16')


