section.reviews
	.container.gx-110
		include slider
		ul.reviews__list
			li.reviews__item
				.reviews__inner
					+icon('icon-quote', 'reviews__icon', '36', '28')
					p.reviews__text Очень ждал доставку. Подарок девушке на новый год. Думал уже, что будет провал, однако привезли точь-в-точь - 30 декабря. Спасибо!!!!
					.reviews__info
						span.reviews__name Станислав
						span.reviews__date 09.01.2019
			li.reviews__item
				.reviews__inner
					+icon('icon-quote', 'reviews__icon', '36', '28')
					p.reviews__text Хотел написать негативный отзыв, так как курьер позвонил только за полчаса, я бы просто не успел добраться до дома. Однако, все уладили: привезли заказ в удобное для меня время, куда мне было удобно. Дополнительно ничего не взяли. Такой подход компании располагает.
					.reviews__info
						span.reviews__name Александр
						span.reviews__date 24.12.2018
			li.reviews__item
				.reviews__inner
					+icon('icon-quote', 'reviews__icon', '36', '28')
					p.reviews__text Уже давно заказываем курьерские услуги в этой компании. Очень много времени экономим, отказавшись от самостоятельных поездок. Решаем с клиентов все вопросы по телефону, а договора на подпись привозит курьер. Затем, возвращает к нам в офис. Нам это более выгодно, чем тратить несколько часов на самостоятельную поездку.
					.reviews__info
						span.reviews__name Дмитрий
						span.reviews__date 22.12.2018
			li.reviews__item
				.reviews__inner
					+icon('icon-quote', 'reviews__icon', '36', '28')
					p.reviews__text Много лет использовали своего курьера. Ежедневно перемещаем документы между подразделениями в черте города. Регулярно сталкивались с ситуацией, когда вроде бы и платишь не мало, но постоянно возникают какие-то накладки с доставкой. Вплоть до того, что развозкой документов занимается зам.директора. Весной заключили договор с Елогистик и все встало на свои места. Бюджет на доставку сократился вдвое, а качеством мы очень довольны.
					.reviews__info
						span.reviews__name Наталия Григорьевна
						span.reviews__date 28.11.2018
