.reviews__slider.reviews-slider.swiper-container
	ul.reviews-slider__list.swiper-wrapper
		li.reviews-slider__item.swiper-slide
			picture.reviews-slider__picture
				//- source(media="(min-width: 1280px)" srcset="static/images/content/why-need-desktop@1x.png 1x, static/images/content/why-need-desktop@2x.png 2x")
				img.reviews-slider__img(src="static/images/content/reviews-slider-1-desktop@1x.png" srcset="static/images/content/reviews-slider-1-desktop@2x.png 2x" width="447" height="632" alt="Фотография отзыва")
		li.reviews-slider__item.swiper-slide
			picture.reviews-slider__picture
				//- source(media="(min-width: 1280px)" srcset="static/images/content/why-need-desktop@1x.png 1x, static/images/content/why-need-desktop@2x.png 2x")
				img.reviews-slider__img(src="static/images/content/reviews-slider-2-desktop@1x.png" srcset="static/images/content/reviews-slider-2-desktop@2x.png 2x" width="447" height="632" alt="Фотография отзыва")
		li.reviews-slider__item.swiper-slide
			picture.reviews-slider__picture
				//- source(media="(min-width: 1280px)" srcset="static/images/content/why-need-desktop@1x.png 1x, static/images/content/why-need-desktop@2x.png 2x")
				img.reviews-slider__img(src="static/images/content/reviews-slider-3-desktop@1x.png" srcset="static/images/content/reviews-slider-3-desktop@2x.png 2x" width="447" height="632" alt="Фотография отзыва")
		li.reviews-slider__item.swiper-slide
			picture.reviews-slider__picture
				//- source(media="(min-width: 1280px)" srcset="static/images/content/why-need-desktop@1x.png 1x, static/images/content/why-need-desktop@2x.png 2x")
				img.reviews-slider__img(src="static/images/content/reviews-slider-3-desktop@1x.png" srcset="static/images/content/reviews-slider-3-desktop@2x.png 2x" width="447" height="632" alt="Фотография отзыва")
		li.reviews-slider__item.swiper-slide
			picture.reviews-slider__picture
				//- source(media="(min-width: 1280px)" srcset="static/images/content/why-need-desktop@1x.png 1x, static/images/content/why-need-desktop@2x.png 2x")
				img.reviews-slider__img(src="static/images/content/reviews-slider-3-desktop@1x.png" srcset="static/images/content/reviews-slider-3-desktop@2x.png 2x" width="447" height="632" alt="Фотография отзыва")
	button.reviews-slider__button.reviews-slider__button--next
		+icon('icon-arrow', 'reviews-slider__icon-button reviews-slider__icon-button--next', '8', '15')
	button.reviews-slider__button.reviews-slider__button--prev
		+icon('icon-arrow', 'reviews-slider__icon-button reviews-slider__icon-button--prev', '8', '15')
