.user-controls {
  align-items: center;
  display: flex;
  &__link {
    transition: all ease-out .15s;
    &:hover {
      opacity: .7;
    }
    &:not(:last-child) {
      margin: 0 40px 0 0;
      @media screen and (max-width: $mobile-size) {
        margin: 0 20px 0 0;
      }
    }
  }
  &__icon {
    &--user {
      stroke: $white;
      stroke-width: 2.5px;
      @media screen and (max-width: $tablet-size) {
        stroke: $red-color;
      }
    }
    &--search {
      fill: $white;
      @media screen and (max-width: $tablet-size) {
        fill: $red-color;
      }
    }
  }
}
