section.delivery-oversized
	.container.gx-20.gx-md-30.gx-lg-110
		.delivery-oversized__top
			.row.gx-md-40.gy-60.gy-md-40
				.col-md-6.col-lg-3.d-flex.flex-column
					.about-advantages__icon-box
						+icon('icon-truck', 'about-advantages__icon', '82', '82')
					span.about-advantages__icon-note Доставка крупногабаритных посылок до 1500 кг весом по СПб и Ленинградской области
				.col-md-6.col-lg-3.d-flex.flex-column
					.about-advantages__icon-box
						+icon('icon-credit-card-machine', 'about-advantages__icon', '82', '82')
					span.about-advantages__icon-note Удобное кассовое обслуживание для интернет-магазинов
				.col-md-6.col-lg-3.d-flex.flex-column
					.about-advantages__icon-box
						+icon('icon-over-box', 'about-advantages__icon', '82', '82')
					span.about-advantages__icon-note Подъем на этаж крупногабаритных посылок до 150 кг.
				.col-md-6.col-lg-3.d-flex.flex-column
					.about-advantages__icon-box
						+icon('icon-reward', 'about-advantages__icon', '82', '82')
					span.about-advantages__icon-note Для каждого нашего партнера мы работаем на максимально высоком уровне.
	include tariffs
	.delivery-oversized__description
		.container.gx-20.gx-md-30.gx-lg-110
			p.delivery-oversized__desc Стоимость экспедирования рассчитывается при плотности груза 1 м3=240 кг. Если вес одного грузового места превышает 300 кг, стоимость экспедирования увеличивается на 25%. Если длина одного из грузовых мест превышает 2,5 метра, стоимость перевозки увеличивается на 25%. Если груз принимается к перевозке с пометкой "ХРУПКО", стоимость экспедирования увеличивается на 25% Услуги ПРР ( погрузо-разгрузочные работы силами водителя экспедитора) за счёт Экспедитора предоставляются на партии груза, расчётный вес которых не превышает 20 кг, где вес и объём одного грузового места не превышает 20 кг и 0,09 м3 соответственно, при наличии работающего лифта и необходимости подъема груза не выше 3 этажа. Услуги ПРР за счёт Заказчика, а также услуги предоставления грузчиков, согласовываются с экспедитором и оплачиваются дополнительно. Стоимость перевозки груза рассчитывается по фактическому или объемному весу, при этом выбирается большая из этих величин. 1м3 =240 кг, поэтому для расчёта объёмного веса применяется формула: V *240 кг. При перевозке негабаритного груза, а также груза с использованием дополнительной упаковки (обрешётки) согласно требованиям Экспедитора, взимается дополнительная плата в размере 25% от стоимости перевозки. Груз считается негабаритным, если вес одного места превышает 300 кг, либо одно из измерений равно или больше 3 м.
