section.hero.hero--big
	.hero__wrapper
		picture.hero__picture
			source(media="(min-width: 1280px)" srcset="static/images/content/delivery-oversized-hero-desktop@1x.png 1x, static/images/content/delivery-oversized-hero-desktop@2x.png 2x")
			img.hero__img(src="static/images/content/delivery-oversized-hero-mobile@1x.png" alt="Картинка о доставки по России" srcset="static/images/content/delivery-oversized-hero-mobile@2x.png 2x" width="375" height="258")
		.hero__inner
			.container.gx-20.gx-md-30.gx-lg-110
				.row.justify-content-end.g-0
					.col-12.col-md-6.ps-md-20
						h1.hero__title.mb-20.mb-md-30 Доставка крупногабаритного груза
						.hero__box
							p.hero__text.mt-20.mt-md-0.mb-0.mb-md-60.order-2.order-md-0 Умеем доставлять крупногабарит. Знаем как сделать это максимально безопасно для груза и удобно для отправителя и получателя.
							a.hero__button.button Заказать доставку

