.delivery-oversized__tariffs.oversized-tariffs
	.container.gx-20.gx-md-30.gx-lg-110
		.row.gx-lg-40.gy-20.gy-md-40
			.col-12.col-lg-6
				h2.oversized-tariffs__title Тарифы на доставку крупногабаритного груза
			.col-12.col-lg-3
				p.oversized-tariffs__text Комплексное решение для интернет-магазинов или бизнеса.
		.oversized-tariffs__table.tariffs-table
			.row.gx-lg-40.gy-40.mb-lg-60
				.col-md-6.col-lg-3
					p.tariffs-table__title Тарифы на доставку терминал-адрес по Санкт-Петербургу (в зоне установленных границах)
					ul.tariffs-table__list
						li.tariffs-table__item.tariffs-table__item--head
							.col-6.px-10
								span.tariffs-table__head Вес (кг)
							.col-6.px-10
								span.tariffs-table__head Цена (руб.)
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 50
							.col-6.px-10
								span.tariffs-table__price 700
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 100
							.col-6.px-10
								span.tariffs-table__price 850
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 200
							.col-6.px-10
								span.tariffs-table__price 1000
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 300
							.col-6.px-10
								span.tariffs-table__price 1150
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 400
							.col-6.px-10
								span.tariffs-table__price 1300
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 500
							.col-6.px-10
								span.tariffs-table__price 1500
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 650
							.col-6.px-10
								span.tariffs-table__price 1800
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 800
							.col-6.px-10
								span.tariffs-table__price 2100
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 1000
							.col-6.px-10
								span.tariffs-table__price 2500
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 1500
							.col-6.px-10
								span.tariffs-table__price 3400
				.col-md-6.col-lg-3
					p.tariffs-table__title Тарифы на доставку терминал-адрес по Москве (в пределах МКАД)
					ul.tariffs-table__list
						li.tariffs-table__item.tariffs-table__item--head
							.col-6.px-10
								span.tariffs-table__head Вес (кг)
							.col-6.px-10
								span.tariffs-table__head Цена (руб.)
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 50
							.col-6.px-10
								span.tariffs-table__price 700
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 100
							.col-6.px-10
								span.tariffs-table__price 850
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 200
							.col-6.px-10
								span.tariffs-table__price 1000
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 300
							.col-6.px-10
								span.tariffs-table__price 1150
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 400
							.col-6.px-10
								span.tariffs-table__price 1300
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 500
							.col-6.px-10
								span.tariffs-table__price 1500
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 650
							.col-6.px-10
								span.tariffs-table__price 1800
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 800
							.col-6.px-10
								span.tariffs-table__price 2100
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 1000
							.col-6.px-10
								span.tariffs-table__price 2500
						li.tariffs-table__item
							.col-6.px-10
								span.tariffs-table__price 1500
							.col-6.px-10
								span.tariffs-table__price 3400
				.col-12.col-lg-6
					p.tariffs-table__title Тарифы на доставку КГТ Санкт-Петербург-Москва-Санкт-Петербург (в пределах МКАД); Москва-Санкт-Петербург (в установленных границах города)
					ul.tariffs-table__list
						li.tariffs-table__item.tariffs-table__item--head
							.col-3.px-10
								span.tariffs-table__head Вес (кг)
							.col-3.px-10
								span.tariffs-table__head Терминал — адрес МСК-СПб
							.col-3.px-10
								span.tariffs-table__head Терминал — Адрес СПб-МСК
							.col-3.px-10
								span.tariffs-table__head Терминал — терминал
						li.tariffs-table__item
							.col-3.px-10
								span.tariffs-table__price 50
							.col-3.px-10
								span.tariffs-table__price 1150
							.col-3.px-10
								span.tariffs-table__price 1250
							.col-3.px-10
								span.tariffs-table__price 450
						li.tariffs-table__item
							.col-3.px-10
								span.tariffs-table__price 100
							.col-3.px-10
								span.tariffs-table__price 1750
							.col-3.px-10
								span.tariffs-table__price 1850
							.col-3.px-10
								span.tariffs-table__price 900
						li.tariffs-table__item
							.col-3.px-10
								span.tariffs-table__price 200
							.col-3.px-10
								span.tariffs-table__price 2800
							.col-3.px-10
								span.tariffs-table__price 2900
							.col-3.px-10
								span.tariffs-table__price 1800
						li.tariffs-table__item
							.col-3.px-10
								span.tariffs-table__price 300
							.col-3.px-10
								span.tariffs-table__price 3850
							.col-3.px-10
								span.tariffs-table__price 400
							.col-3.px-10
								span.tariffs-table__price 2700
						li.tariffs-table__item
							.col-3.px-10
								span.tariffs-table__price 400
							.col-3.px-10
								span.tariffs-table__price 4900
							.col-3.px-10
								span.tariffs-table__price 5000
							.col-3.px-10
								span.tariffs-table__price 3600
						li.tariffs-table__item
							.col-3.px-10
								span.tariffs-table__price 500
							.col-3.px-10
								span.tariffs-table__price 6000
							.col-3.px-10
								span.tariffs-table__price 6100
							.col-3.px-10
								span.tariffs-table__price 4500
						li.tariffs-table__item
							.col-3.px-10
								span.tariffs-table__price 650
							.col-3.px-10
								span.tariffs-table__price 7650
							.col-3.px-10
								span.tariffs-table__price 7750
							.col-3.px-10
								span.tariffs-table__price 6300
						li.tariffs-table__item
							.col-3.px-10
								span.tariffs-table__price 800
							.col-3.px-10
								span.tariffs-table__price 9300
							.col-3.px-10
								span.tariffs-table__price 9400
							.col-3.px-10
								span.tariffs-table__price 9000
						li.tariffs-table__item
							.col-3.px-10
								span.tariffs-table__price 1000
							.col-3.px-10
								span.tariffs-table__price 11500
							.col-3.px-10
								span.tariffs-table__price 11600
							.col-3.px-10
								span.tariffs-table__price 11700
						li.tariffs-table__item
							.col-3.px-10
								span.tariffs-table__price 1500
							.col-3.px-10
								span.tariffs-table__price 16900
							.col-3.px-10
								span.tariffs-table__price 17100
							.col-3.px-10
								span.tariffs-table__price 13500
		p.oversized-tariffs__note Доставка за пределы зоны установленных границ в Санкт-Петербурге/за МКАД в Москве  —  #[strong 30 руб./км]
	img.about-statistics__bottom-bg(src="static/images/common/about-stat-bg-desktop.png" width="1920" height="313" alt="Фоновое изображение Питера")
