section.payment-method
	.container.gx-20.gx-md-30.gx-lg-110
		ul.payment-method__list
			li.payment-method__item
				.payment-method__inner
					+icon('icon-you-money', 'payment-method__icon', '248', '60')
					h5.payment-method__name Оплата через сервис «ЮMoney»
			li.payment-method__item
				.payment-method__inner
					+icon('icon-rubles', 'payment-method__icon', '80', '80')
					h5.payment-method__name Наличными при получении
			li.payment-method__item
				.payment-method__inner
					+icon('icon-credit-card', 'payment-method__icon', '80', '80')
					h5.payment-method__name Банковской картой при получении
		.row.gx-0.gx-lg-40.align-items-lg-center
			.col-12.col-lg-6.mb-80.mb-lg-0
				p.payment-method__text.section__text.mb-30 Компания «Е-Логистик» предлагает профессиональные услуги курьерской службы. Их можно оплатить наиболее удобным для вас способом. На данный момент клиенты могут воспользоваться такими способами, как наличный расчет, оплата посредством банковской карты или с помощью электронной системы «Яндекс.Деньги».
				p.payment-method__text.section__text.mb-30 Предлагаемые формы оплаты характеризуются высокой надежностью и безопасностью. Указанные вами данные являются конфиденциальными и не разглашаются. Данные банковской карты передаются на сервер в зашифрованном виде. Все операции по ним осуществляются согласно стандартам таких платежных систем, как Visa и MasterCard. Банковской картой вы можете оплатить доставку как на сайте, так и непосредственно курьеру.
				p.payment-method__text.section__text Перевод с помощью электронной системы «Яндекс.Деньги» на счет компании также является безопасным и простым в использовании способом. Если у вас есть какие-либо вопросы, можете связаться с нашими специалистами по телефону.
			.col-12.col-lg-6
				.payment-method__systems
					.payment-method__row.d-flex.justify-content-around.mb-50.mb-lg-80
						+icon('icon-master-card', 'payment-method__system-icon payment-method__system-icon--master-card', '84', '50')
						+icon('icon-verified-visa', 'payment-method__system-icon payment-method__system-icon--verified', '70', '40')
						+icon('icon-visa', 'payment-method__system-icon payment-method__system-icon--visa', '130', '40')
					.payment-method__row.d-flex.justify-content-between.mb-50.mb-lg-80
						+icon('icon-maestro', 'payment-method__system-icon payment-method__system-icon--maestro', '83', '50')
						+icon('icon-google-pay', 'payment-method__system-icon payment-method__system-icon--google', '101', '40')
						+icon('icon-mir', 'payment-method__system-icon payment-method__system-icon--mir', '138', '40')
					.payment-method__row.d-flex.justify-content-around
						+icon('icon-secure-code', 'payment-method__system-icon payment-method__system-icon--secure', '104', '32')
						+icon('icon-apple-pay', 'payment-method__system-icon payment-method__system-icon--apple', '98', '40')
