mixin breadcrumbs-item(text,href)
	li.breadcrumbs__item
		if(href)
			a.breadcrumbs__link(href=href) #{text}
		else
			span.breadcrumbs__text #{text}

if pageClass==='about-page'
	ul.breadcrumbs.mt-30
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('О компании')
if pageClass==='cost-delivery-page'
	ul.breadcrumbs.mt-30
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Рассчитать стоимость доставки')
if pageClass==='payment-delivery-page'
	ul.breadcrumbs.mt-30
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Оплата доставки онлайн')
