mixin breadcrumbs-item(text,href)
	li.breadcrumbs__item
		if(href)
			a.breadcrumbs__link(href=href) #{text}
		else
			span.breadcrumbs__text #{text}

if pageClass==='about-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('О компании')
if pageClass==='cost-delivery-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Рассчитать стоимость доставки')
if pageClass==='payment-delivery-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Оплата доставки онлайн')
if pageClass==='certificates-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Сертификаты')
if pageClass==='cash-service-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Кассовое обслуживание')
if pageClass==='delivery-calculatione-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Виджет расчета доставки для интернет-магазинов')
if pageClass==='helpful-information-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Полезная информация')
if pageClass==='reviews-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Отзывы')
if pageClass==='payment-method-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Способы оплаты')
if pageClass==='delivery-russia-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Доставка по России')
if pageClass==='delivery-oversized-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Доставка крупногабаритного груза')
if pageClass==='fulfillment-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Фулфилмент — хранение и упаковка')
