mixin breadcrumbs-item(text,href)
	li.breadcrumbs__item
		if(href)
			a.breadcrumbs__link(href=href) #{text}
		else
			span.breadcrumbs__text #{text}

if pageClass==='about-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('О компании')
if pageClass==='cost-delivery-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Рассчитать стоимость доставки')
if pageClass==='payment-delivery-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Оплата доставки онлайн')
if pageClass==='certificates-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Сертификаты')
if pageClass==='cash-service-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Кассовое обслуживание')
if pageClass==='delivery-calculatione-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Виджет расчета доставки для интернет-магазинов')
if pageClass==='helpful-information-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Полезная информация')
if pageClass==='reviews-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Отзывы')
if pageClass==='payment-method-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Способы оплаты')
if pageClass==='delivery-russia-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Доставка по России')
if pageClass==='delivery-oversized-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Доставка крупногабаритного груза')
if pageClass==='fulfillment-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Фулфилмент — хранение и упаковка')
if pageClass==='news-post-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Новости рынка')
if pageClass==='online-store-owners'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Владельцам интернет-магазинов')
if pageClass==='cross-docking-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Кросс-докинг (работа с поставщиками)')
if pageClass==='partners-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Полезная информация')
if pageClass==='contacts-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Контакты')
if pageClass==='delivery-for-offline-retail'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Доставка для офлайн-ритейла по Санкт-Петербургу')
if pageClass==='news-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Новости рынка','news-market.html')
		+breadcrumbs-item('Для партнеров «Яндекс.Маркет» есть опасность утраты ПВЗ?')
if pageClass==='pick-up-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Пункты выдачи заказов и постоматы')
if pageClass==='search-page'
	ul.breadcrumbs
		+breadcrumbs-item('Главная','index.html')
		+breadcrumbs-item('Результаты поиска')
