.hero {
  &--small {
    background-color: $background-light-gray-color;
    padding: 60px 0 172px;
    position: relative;
    @media screen and (max-width: $tablet-size) {
      min-height: 300px;
      padding: 40px 0 0;
    }
    @media screen and (max-width: $mobile-size) {
      padding: 40px 0 0;
    }
  }
  &--big {
    background-color: $background-light-gray-color;
    padding-bottom: 100px;
    @media screen and (max-width: $mobile-size) {
      padding-bottom: 40px;
    }
  }
  &__wrapper {
    display: flex;
    @media screen and (max-width: $mobile-size) {
      flex-direction: column;
    }
  }
  &__inner {
    align-self: center;
    flex: 0 0 100%;
    transform: translateX(-47.917%);
    @media screen and (max-width: $mobile-size) {
      margin: 32px 0 0 0;
      transform: unset;
    }
  }
  &__picture {
    display: block;
    flex: 0 0 47.917%;
    margin: 0;
    padding-bottom: 33.021%;
    position: relative;
    width: 100%;
    z-index: 2;
    @media screen and (max-width: $mobile-size) {
      flex: 0 0 100%;
      padding: 0;
    }
  }
  &__img {
    height: 100%;
    object-fit: cover;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    @media screen and (max-width: $tablet-size) {
      object-fit: contain;
    }
    @media screen and (max-width: $mobile-size) {
      object-fit: cover;
      position: relative;
    }
  }
  &__title {
    color: $red-color;
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    position: relative;
    z-index: 2;
    @media screen and (max-width: $tablet-size) {
      font-size: 35px;
      line-height: 42px;
    }
    @media screen and (max-width: $mobile-size) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  &__text {
    font-size: 30px;
    line-height: 46px;
    @media screen and (max-width: $tablet-size) {
      font-size: 20px;
      line-height: 25px;
    }
    @media screen and (max-width: $mobile-size) {
      font-size: 15px;
      line-height: 22px;
    }
    &--small {
      font-size: 20px;
      line-height: 35px;
    }
  }
  &__button {
    display: inline-block;
    width: auto;
  }
  &__bottom-bg {
    bottom: 0;
    height: 300px;
    left: 0;
    object-fit: cover;
    object-position: bottom;
    opacity: .7;
    position: absolute;
    width: 100%;
    @media screen and (max-width: $tablet-size) {
      // height: 200px;
      object-position: left;
    }
  }
  &__img-box {
    align-items: center;
    display: flex;
  }
  &__img-icon {
    &:not(:last-child) {
      margin: 0 60px 0 0;
    }
  }
}
