section.about__concept.about-concept
	.container.gx-110
		.row.gx-40.mb-100
			.col-6
				p.about-concept__promo Компания E-Logistics точно знает, что главнейшим компонентом успешности интернет магазинов следует считать своевременную доставку товара покупателям и поэтому мы предлагаем ответственный подход к выполнению своих обязательств перед партнерами.
			.col-6
				h2.about-concept__title Концепция работы
				p.about-concept__text Пользуясь услугами нашей курьерской службы в Санкт-Петербурге, Москве и другим регионам РФ и СНГ наши клиенты сохраняют собственное время, потому что мы найдем самый оптимальный вариант доставки заказанных товаров. Наша компания ведет политику совершенствования всех своих услуг и предлагает своим клиентам гибкие цены. Еще одна выгода в том, что мы наготове 24 часа и предоставляем полный перечень курьерских услуг в Санкт-Петербурге.
		.row.gx-lg-40.mb-lg-100
			.col-2.d-lg-flex.flex-lg-column
				+icon('icon-home-delivery', 'about-concept__icon', '41', '47')
				span.about-concept__icon-note доставка по алгоритму «от клика до двери»
			.col-2.d-lg-flex.flex-lg-column
				+icon('icon-balance', 'about-concept__icon', '48', '48')
				span.about-concept__icon-note идеальный баланс стоимости и качества услуг
			.col-2.d-lg-flex.flex-lg-column
				+icon('icon-cashbox', 'about-concept__icon', '48', '48')
				span.about-concept__icon-note возможность доставки заказов с оплатой по наличному расчету
			.col-2.d-lg-flex.flex-lg-column
				+icon('icon-client', 'about-concept__icon', '48', '48')
				span.about-concept__icon-note индивидуальная работа с клиентами
			.col-2.d-lg-flex.flex-lg-column
				+icon('icon-recycling', 'about-concept__icon', '48', '48')
				span.about-concept__icon-note возможность пересортировки и упаковки заказанных товаров
			.col-2.d-lg-flex.flex-lg-column
				+icon('icon-storage', 'about-concept__icon', '48', '48')
				span.about-concept__icon-note хранение товаров на специализированном складе
		.row.gx-40
			.col-6
				.about-concept__table.about-concept__table--gray
					.col-6.px-lg-20
						p.about-concept__text Полное наименование организации
					.col-6.px-lg-20
						p.about-concept__text Общество с Ограниченной Ответственностью «Е&#8209;Логистик»
				.about-concept__table
					.col-6.px-lg-20
						p.about-concept__text Краткое наименование организации
					.col-6.px-lg-20
						p.about-concept__text ООО «Е-Логистик»
				.about-concept__table.about-concept__table--gray
					.col-6.px-lg-20
						p.about-concept__text Международное наименование организации
					.col-6.px-lg-20
						p.about-concept__text E-LOGISTICS Ltd
				.about-concept__table
					.col-6.px-lg-20
						p.about-concept__text Юридический адрес
					.col-6.px-lg-20
						p.about-concept__text 196084, г. Санкт-Петербург, ул. Заозерная 10, лит. Е
			.col-6
				p.about-concept__text Таким образом, E-Logistics - это именно та курьерская служба доставки для онлайн магазинов, которая функционирует максимально качественно и оперативно.
