section.hero.hero--small
	.container.gx-20.gx-md-30.gx-lg-110
		.row
			.col-12
				h1.hero__title Контакты
	img.hero__bottom-bg(src="static/images/common/hero-bg-desktop.png" width="1920" height="300" alt="Фоновое изображение Питера")
