.sandwich {
  display: none;
  @media screen and (max-width: $tablet-size) {
    align-items: center;
    background-color: $red-color;
    cursor: pointer;
    display: flex;
    height: 60px;
    justify-content: center;
    margin: 0 30px 0 -30px;
    position: relative;
    padding: 0;
    width: 60px;
    z-index: 25;
  }
  @media screen and (max-width: $mobile-size) {
    margin: 0 0 0 -20px;
  }
  &._active {
    .sandwich__line {
      &--top {
        top: 27px;
        transform: rotate(45deg);
      }
      &--middle {
        transform: translateX(-10px);
        opacity: 0;
      }
      &--bottom {
        top: 27px;
        transform: rotate(-45deg);
      }
    }
  }
  &__line {
    background-color: $white;
    display: block;
    height: 5px;
    left:calc(50% - 15px);
    position: absolute;
    transition: all ease-out 0.3s;
    width: 30px;
    &--top {
      top: 19px;
    }
    &--middle {
      top: 28px
    }
    &--bottom {
      top: 37px;
    }
  }
}
