section.hero.hero--small
	.container.gx-110
		.row
			.col-12
				h1.hero__title Оплата доставки онлайн
	img.hero__bottom-bg(src="static/images/common/hero-bg-desktop.png" width="1920" height="300" alt="Фоновое изображение Питера")
