section.payment-delivery
	.container.gx-20.gx-md-30.gx-lg-110
		.row.gx-40
			.col-12
				.payment-delivery__text Мы предлагаем возможность оплатить доставку онлайн в удобное для вас время и в удобном месте. Клиент может воспользоваться своей банковской картой или электронными деньгами в системе Яндекс.деньги. Для совершения операции вам необходимо указать запрашиваемые данные.
			.col-12
				include payment-form
